{form $form}
    <ul class=error n:if="$form->ownErrors">
        <li n:foreach="$form->ownErrors as $error">{$error}</li>
    </ul>

    <div n:foreach="$form->controls as $input" n:class="$input->required ? required">
        {input $input} <small class=error n:ifcontent>{$input->error}</small>
    </div>
{/form}
