{block title}Kontakt{/block}

{block content}
<section class="fullpage title-bg">
    <h2 class="logo"><a n:href="Title:"><sup>2</sup><span class="anim">min</span><sub>D</sub></a></h2>
    <p>Ak máte otázky, pripomienky alebo nápady na vylepšenie možete ma kontaktovať na mailovej adrese d.gmiterko@gmail.com</p>
    {include ../titleFooter.latte}
    {include ../endora.latte}
</section>
{/block}