#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
    date.timezone: Europe/Prague

nette:
    application:
        errorPresenter: Error
        mapping:
            *: App\*Module\Presenters\*Presenter

    session:
        autoStart: true	
        expiration: 14 days
    routing:
        debugger: true  # panel v Debugger baru
        routes:
            'plocha': 'Wall:default'
            'mapa': 'Map:default'
            'najnovsie': 'Latest:default'
            'najnovsie/temy': 'Latest:blocks'
            'kontakt': 'Contact:default'
            'ostranke': 'About:default'
            '<presenter>/<action>': 'Title:default'

services:
    - App\TwoMinD\Wall
    - App\TwoMinD\CurrentUser
    - App\TwoMinD\UsersManager
    - App\TwoMinD\Forms\SignInForm
    - App\TwoMinD\Forms\SignUpForm
