/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

 $block-size: 2100px;
 $map-block-size: 100px;
 $wall-header-bar-height: 45px;
 $block-zero-size: 400px;