{block title}Prihlásenie{/block}

{block content}
<section class="fullpage-min title-bg">
    <div class="row">
        <h2 class="logo"><a n:href="Title:"><sup>2</sup><span class="anim">min</span><sub>D</sub></a></h2>

        {include '../components/form.latte', form => signInForm}

        {include ../titleFooter.latte}
        {include ../endora.latte}
    </div>
</section>
{/block}