{block title}Registrácia{/block}

{block content}
<section class="fullpage-min title-bg">
    <div class="row">
        <h2 class="logo"><a n:href="Title:"><sup>2</sup><span class="anim">min</span><sub>D</sub></a></h2>
        <h4>Mozete zacat pisat!</h4>
        <a class="button expand" n:href="User:login">Prihlásenie</a>
        {include ../titleFooter.latte}
        {include ../endora.latte}
    </div>
</section>
{/block}