{block title}O stránke{/block}

{block content}
<section class="fullpage title-bg">
    <h2 class="logo"><a n:href="Title:"><sup>2</sup><span class="anim">min</span><sub>D</sub></a></h2>
    <p><pre>{$humanstxt}</pre></p>
    {include ../titleFooter.latte}
    {include ../endora.latte}
</section>
{/block}