<ul class="icon-list">
    <li class="search">
        <form class="searchForm" method="post">
            <input type="text" name="search" />
        </form>
        <a class="icon search-icon" href="#">{_}Vyhľadávanie{/_}</a>
    </li>
    <li class="icon spawn"><a href="#top">{_}Začiatok{/_}</a></li>
    <li class="icon wall"><a n:href="Wall:">{_}Stena{/_}</a></li>
    <li class="icon menu"><a class="right-off-canvas-toggle" href="#" >Menu</a></li>
</ul>