<div class="text-center">
    <ul class="inline-list">
        <li><a n:href="Contact:">Kontakt</a></li>
        <li>&copy; Dominik Gmiterko 2015</li>
        <li><a n:href="About:">O stránke</a></li>
    </ul>
</div>